<head>
   <link rel="stylesheet" type="text/css" href="main.css">
  <header>
   <div id="top">
  <h1> Adreeny's Blog</h1>
         </header>
  <div id="pinkborder">
  <img id="pic" src="https://t4.rbxcdn.com/ead26e0d64d1124485b9309e771cea85">  
    <h2 id="name"> Adreeny
    </h2>
    <h4 id="bio"> STEM Student - Adreeny - Lvl 14
    </h4>
  </div>
  <div id="links">
  <a href=""> Blog Updates</a>
  <a href=""> Essays</a>
  <a href=""> Drawings</a>
  <a href=""> About Me</a>
  </div>
</div>
</head>

