#content{
  display:flex;
  flex-flow:column;
  background-color:#ff847c;
  padding:5px;
  text-align:center;
}
#slideshow img{
  width:40%;
}
button{
  border-radius:50px;
  background-color:#fff1e5;
  border: solid #2a363b;
}
#slideshow img{
  border: solid #feceab;
  border-width:5px;
}
#site{
  background-color:#ff847c;
}
